@font-face {
  font-family: "Anticva-Regular";
  src: url("../../assets/fonts/Anticva Regular/Anticva-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PoiretOne-Regular";
  src: url("../../assets/fonts/Poiret_One/PoiretOne-Regular.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  /* width: 140px;
  height: 165px; */
  border: 1px solid rgb(235, 228, 218);
  box-shadow: 2px 2px rgb(214 178 178);
  border-radius: 5px;
  background-color: rgb(238 225 200 / 79%);
  width: 300px;
  height: 290px;
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-top: 50px;
}

.cardEnglish {
  font-family: "Anticva-Regular", serif;
  font-weight: 300;
  font-size: 2.3em;
  color: rgb(34, 76, 171);
}

.cardTranscription {
  font-family: "PoiretOne-Regular", serif;
  font-size: 1.5em;
  color: rgb(255, 42, 142);
}

.cardRussian {
  font-family: "PoiretOne-Regular", serif;
  font-size: 1.5em;
  color: black;
}

.showTranslationButton {
  font-family: "Montserrat-VariableFont_wght.ttf", serif;
  font-weight: 200;
  background-color: rgb(34, 76, 171);
  height: 60px;
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
}

.titleCardsPage {
  font-family: "Anticva-Regular", serif;
  font-weight: lighter;
  font-size: 2.3em;
  color: rgb(34, 76, 171);
}
