.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.carouselBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: lighter;
  color: white;
  background-color: rgb(34, 76, 171);

  transform: translateY(-50%);
  z-index: 10;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.carouselBtn:hover {
  background-color: rgb(51, 102, 222);
}

.prevBtn {
  /* left: 12px;
  top: -65px; */
}

.nextBtn {
  /* right: -12px;
  top: -65px; */
}
