@font-face {
  font-family: "Anticva-Regular";
  src: url("../../assets/fonts/Anticva Regular/Anticva-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-VariableFont_wght.ttf";
  src: url("../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

.wordTable {
  border-collapse: collapse;
  width: 100%;
  margin: 1em;
  background-color: rgb(235, 228, 218);
}

.tableRow {
  font-family: "Montserrat-VariableFont_wght.ttf", serif;
  font-weight: 200;
  height: 55px;
  font-size: 1.2em;
  color: rgb(34, 76, 171);
}

.tableTitle {
  font-family: "Anticva-Regular", serif;
  font-size: 1.5em;
  color: rgb(34, 76, 171);
}

.editButton {
  font-family: "Montserrat-VariableFont_wght.ttf", serif;
  border: transparent;
  border-radius: 0.2em;
  background-color: rgb(34, 76, 171);
  color: white;
  height: 30px;
  cursor: pointer;
}

.tableInput {
  border: 1px solid #d129da;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}

.modifyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
